<mat-accordion fxLayoutAlign="center">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{question}}
      </mat-panel-title>
      <mat-panel-description>
        {{description}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    
    <mat-form-field>
      <mat-select placeholder={{placeholder}}>
        <mat-option *ngFor="let option of options" value="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-expansion-panel>

</mat-accordion>