<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{question}}
            </mat-panel-title>
            <mat-panel-description>
                {{description}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <form class="example-container">
            <div>
                <label id="example-radio-group-label">{{placeholder}}</label>
                <mat-radio-group aria-labelledby="example-radio-group-label">
                  <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option">
                    {{option}}
                  </mat-radio-button>
                </mat-radio-group>
            </div>
        </form>
    </mat-expansion-panel>
</mat-accordion>