  <mat-tab-group mat-stretch-tabs  dynamicHeight>
    <mat-tab label="Text"> 
        <label for="basic-url">Titulo de la pregunta</label>
        <input #textLabel type="text" placeholder="Pregunta" class="form-control">

        <label for="basic-url">Descripcion</label>
        <input #textDescription type="text" placeholder="Pregunta" class="form-control">

        <br>
        <button class="btn btn-success"
            (click)="addTextQuestion(textLabel.value, textDescription.value)">Agregar pregunta</button>

    </mat-tab>
    <mat-tab label="Checkbox">
        <label for="basic-url">Titulo de la pregunta</label>
        <input #checkLabel type="text" placeholder="Pregunta" class="form-control">

        <label for="basic-url">Descripcion</label>
        <input #checkDescription type="text" placeholder="Descripcion" class="form-control">

        <form [formGroup]="inputForm" (submit)="submit()">
            <div formArrayName="inputs">
                <div *ngFor="let contact of inputFormGroup.controls; let i = index;">
                    <div [formGroupName]="i" class="row">

                        <label>Opcion</label>
                        <input class="form-control" formControlName="option" type="text">

                        <button class="btn btn-danger" type="button" (click)="removeInput(i)"> Eliminar opcion
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <button class="btn btn-primary m-1" type="button" (click)="addInput()"> Añadir opcion </button>

        <br>
        <button class="btn btn-success"
            (click)="addCheckQuestion(checkLabel.value, checkDescription.value)">Agregar pregunta</button>

    </mat-tab>
    <mat-tab label="Radio"> 

        <label for="basic-url">Titulo de la pregunta</label>
              <input #radioLabel type="text" placeholder="Pregunta" class="form-control">

              <label for="basic-url">Descripcion</label>
              <input #radioDescription type="text" placeholder="Descripcion" class="form-control">

              <form [formGroup]="inputForm" (submit)="submit()">
                  <div formArrayName="inputs">
                      <div *ngFor="let contact of inputFormGroup.controls; let i = index;">
                          <div [formGroupName]="i" class="row">

                              <label>Opcion</label>
                              <input class="form-control" formControlName="option" type="text">

                              <button class="btn btn-danger" type="button" (click)="removeInput(i)"> Eliminar opcion
                              </button>
                          </div>
                      </div>
                  </div>
              </form>
              <button class="btn btn-primary m-1" type="button" (click)="addInput()"> Añadir opcion </button>

              <br>
              <button class="btn btn-success"
                  (click)="addRadioQuestion(radioLabel.value, radioDescription.value)">Agregar pregunta</button>

    </mat-tab>
    <mat-tab label="Select"> 
        <label for="basic-url">Titulo de la pregunta</label>
        <input #selectLabel type="text" placeholder="Pregunta" class="form-control">

        <label for="basic-url">Descripcion</label>
        <input #selectDescription type="text" placeholder="Descripcion" class="form-control">

        <form [formGroup]="inputForm" (submit)="submit()">
            <div formArrayName="inputs">
                <div *ngFor="let contact of inputFormGroup.controls; let i = index;">
                    <div [formGroupName]="i" class="row">

                        <label>Opcion</label>
                        <input class="form-control" formControlName="option" type="text">

                        <button class="btn btn-danger" type="button" (click)="removeInput(i)"> Eliminar opcion
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <button class="btn btn-primary m-1" type="button" (click)="addInput()"> Añadir opcion </button>

        <br>
        <button class="btn btn-success"
            (click)="addSelectQuestion(selectLabel.value, selectDescription.value)">Agregar pregunta</button>

    </mat-tab>
</mat-tab-group>


